/* main container for adding flex to pages */
.main {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0px auto 0px auto;
}

/* top has flex applied from .container, but is also applying flex to .logo and .menu */ 
header {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 0px auto;
    background-color: gray;
    height: 50px;
}

/* logo is a child of header and the far left div in the header*/
.logo {
    display: flex;
    align-items: center;
    background: darkslategray;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    margin: 0px 0px 0px 40px;
    padding: 0px 5px 0px 5px;
    height: 80%;
}

/* menu is a child of header and the far right div in the header*/
.menu {
    margin: 0px 40px 0px;
    /* font-family: salbo 27px; */
}

/*adds lines to the left of the links in the menu and styles a's */
.menu a {
    padding: 5px;
    border-right: 2px white solid;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
}

/* removes border from last link in menu to get rid of the vertical line to the right*/
.menu a:last-child {
    border: 0px black solid;
}

/* section is the child of main. contains everything but the header and footer */
section {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 200px auto;
    width: 480px;
    /* height: 600px; */
    padding: 10px;
    box-shadow: 5px 10px;
}

/* adds margin to top and bottom to all children of section. */
section * {
    margin: 10px 0px 10px 0px;
}

/* child of main. contains the title of the text in main */
.headline {
    flex: 0 0 100%;
    border-bottom: 1px black solid;
}

.top-p {
    display: flex;
    /* height: 100px; */
    
}

.image {
    height: 100%;
}

img {
    height: 150px;
    /* width: 90px; */
    padding-right: 12px;
}

/* footer is only a child of body. This was done to get the footer to stay fixed to the bottom of the page. */
footer {
    flex: 0 0 100%;
    /*found out this is needed to get the justify-content property to work*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    background-color: black;
    border-top: 2px gray solid;
    color: white;
    height: 50px;
    width:100%;
}

/* adds font size to h2's */
h2 {
    font-size: 30px;
    /* display: flex;
    align-items: center; */
}

/* adds font to all h1 and h2's */
h1, h2 {
    font-family: bowlby one sc;
}


/* adding font to p and a*/
p, a{
    font-family: 'slabo 27px';
}

