
h1, h2 {
    font-family: bowlby one sc;
}

h2 {
    font-size: 30px;
    /* display: flex;
    align-items: center; */
}

.headline {
    flex: 0 0 100%;
    border-bottom: 1px black solid;
}

img {
    height: 100px;
    width: 90px;
}

a:last-child {
    border: 0px black solid;
}
p, a{
    font-family: 'slabo 27px';
}

body {
    /* display: flex; */
    /* justify-content: center; */
}
/* main container for adding flex to pages */
.main {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0px auto 0px auto;
}

/* top has flex applied from .container, but is also applying flex to .logo and .menu */ 
header {
    display: flex;
    /* found this in the css-tricks flex tutorial */
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin: 0px auto 0px auto;
    background-color: gray;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    background: darkslategray;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    margin: 0px 0px 0px 40px;
    padding: 0px 5px 0px 5px;
    height: 80%;
}

.menu {
    margin: 0px 40px 0px;
    /* font-family: salbo 27px; */
}

/*using to add lines to the left of the links in the menu */
.menu a {
    padding: 5px;
    border-right: 2px white solid;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
}

section {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 50px auto;
    width: 480px;
    /* height: 600px; */
    padding: 10px;
    box-shadow: 5px 10px;
}

section * {
    margin: 10px 0px 10px 0px;
}

footer {
    flex: 0 0 100%;
    /*found out this is needed to get the justify-content property to work*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    background-color: black;
    border-top: 2px gray solid;
    color: white;
    height: 50px;
    width:100%;
}
