/*variables*/
:root {
    /* created to be able to change overall content width in one spot*/
    --content-width: 960px;
    /* created to be able to keep the border bottom of header and border top of bottom consistent*/ 
    --header-footer-border: 2px rgb(58, 58, 58) solid;
}

/* adds font to h1*/
h1 {
    font-family: 'bowlby one sc';
}

/* adds style to h2's */
h2 {
    font-size: 40px;
    font-family: 'slabo 27px';
    align-items: center;
    font-weight: 900;
    letter-spacing: 2px;
}

/* adding font to p and a*/
p, a, label, button{
    font-family: 'Raleway';
}

p {
    font-size: 20px;
}

/* Container and main together allow for all content to be centered and wrapped, but also for it to not compress and change shape due to window sizing*/
.container {
    display: flex;
}

.main {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
}

/*combo of header and .header-conent allow for background color to be full width of page and header content to be 960px and justified-center with all other elements*/
header {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    margin: 0px auto 0px auto;
    justify-content: center;
    background-color: gray;
    height: 50px;
    border-bottom: var(--header-footer-border);
}

.header-content {
    display: flex;
    flex: 0 0 var(--content-width);
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* logo is a child of header and the far left div in the header*/
.logo {
    display: flex;
    align-items: center;
    background: darkslategray;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    padding: 0px 5px 0px 5px;
    height: 100%;
}

/* menu is a child of header and the far right div in the header*/
.menu {
    /* margin: 0px 40px 0px; */
}

/*adds lines to the left of the links in the menu and styles a's */
.menu a {
    padding: 5px;
    border-right: 2px white solid;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
}

/* removes border from last link in menu to get rid of the vertical line to the right*/
.menu a:last-child {
    border: 0px black solid;
}

/* section is the child of main. contains everything but the header and footer */
section {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 200px 0px;
    width: var(--content-width);
    padding: 10px;
    box-shadow: 5px 10px;
}

/* adds margin to top and bottom to all children of section. */
section * {
    margin: 10px 0px 10px 0px;
}

/* child of main. contains the title of the text in main. Causes div to be full width of .main. */
.headline {
    flex: 0 0 100%;
    border-bottom: 1px black solid;
}

/*used to get the positioning of the top paragraph and image to align correctly */
.top-p {
    display: flex;    
}

/* used to style image in index.html*/
.image-par {
    height: 100%;
}

/* used to style image in index.html separate from portfolio.html images*/
.image-par img {
    height: 150px;
    padding-right: 12px;
    margin: 0px 0px 0px 0px;
}

/* used to style image in portfolio.html separate from index.html images*/
.image-collection {
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
}

/* used to style image in portfolio.html separate from index.html images*/
/* found tutorial on object-fit at https://alligator.io/css/cropping-images-object-fit/ */
.image-collection img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin: 12px;
}

/* used to add title over portfolio images*/
.single-image {
    position: relative;
    margin: 0px;
}

/* used to add title over portfolio images and style title*/
.image-title {
    position: absolute;
    bottom: 32px;
    left: 12px;
    right: 12px;
    background-color: salmon; 
}

.image-title h2 {
    font-size: 20px;
    text-align: center;
}

/* used to get input elements to be the width of section*/
form {
    width: 100%;
}

/* used to get input elements to be the width of section*/
form *{
    width: 100%;
}

/* all below button selectors used to format and also clear agent formating. Found basis of code on https://css-tricks.com/overriding-default-button-styles/*/
button {
    width: fit-content;
    display: inline-block;
    border: none;
    padding: 4px 32px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 2px 2px white;
}

button:hover, button:focus {
    background: white;
    color: black;
}

button:active {
    transform: scale(0.99);
}

/* footer is only a child of body. This was done to get the footer to stay fixed to the bottom of the page. */
footer {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    background-color: black;
    border-top: var(--header-footer-border);
    color: white;
    height: 50px;
    width:100%;
}

footer p{
    font-size: 12px;
}



